/*Start Main Rulez*/

body{
    background-color: #f4f4f4;
    font-size: 16px;
}
.nice-message{
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #080;
    background-color: #FFF;
}
h1{
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}
.input-container{
    position: relative;
}
.asterisk{
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 3px;
    color: #D20707;
}
/*End Main Rulez*/
/*start login page*/
.login-page form,
.the-errors{
    max-width: 380px;
    margin: auto;
}
.login-page form input{
    margin-bottom: 10px;
}
.login-page .selected{
    color: #B22020;
}
.login-page [data-class="login"].selected{
    color: #337AB7;
}
.login-page [data-class="signup"].selected{
    color: #5cb85c;
}
.login-page h1{
    color: #C0C0C0C0;
}
.login-page h1 span{
    cursor:pointer;
}
.login-page .signup{
    display: none;
}
.the-error .msg{
    padding: 10px;
    text-align: center;
    border-left: 5px solid #cd6858;
    background-color: #fff;
    margin-bottom: 8px;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #919191;


}
.the-error .error{
    border-left: 5px solid #cd6858;
}
.login-page .btn{
    width: 100%;
}
/*end login page*/

/*Start bootstrap edits */

.navbar{
    border-radius: 0;
    margin-bottom: 0;
    background-color: black;
}
.nav > .li > a,
.navbar-brand{
    padding: 15px 12px;
}

.navbar-brand{
    font-size: 1em;

}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;}

.navbar-nav > li {
    padding-left: 90px;
    
}



/*End bootstrap edits*/

/* start categories  */

.item-box{
    position: relative;
}
.item-box .price-tag{
    position: absolute;
    left: 0;
    color: #FFF;
    font-weight: bold;
    top: 10px;
    padding: 2px 10px;
    background-color: #B4B4B4;
}
/* End categories  */
/*start profile page*/
.information{
    margin: 20px;
}
.information ul{
    padding: 0;
    margin: 0;
}
.information ul li{
    padding: 10px ;
}
.information ul li:nth-child(odd){
    background-color: #EEE;
}
.information ul li span{
    display: inline-block;
    width: 120px;
}
.card .date{
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: #AAA;
}

/*end profile page*/
/*Start SHow Item Page*/
.item-info h2{
    padding: 10px;
    margin: 0;

}
.item-info p{
    padding: 10px;
}
.item-info ul li{
    padding: 10px 0;
}
.item-info ul li:nth-child(odd){
    background-color: #e8e8e8;
}
.item-info ul li span{
    display: inline-block;
    width: 120px;
}
/*End Show Item Page*/

/*Start Our Custom*/
.custom-hr{
    border-top: 1px solid #c9c9c9;
}
/*End Our Custom*/ 