/*Start Main Rulez*/

body{
    background-color: #f4f4f4;
    font-size: 16px;
}

/*End Main Rulez*/

/*Start Login Form*/

.login{
    margin: 100px auto;
    width: 300px;
}
.login h4{
    color: #888;
}
.login input {
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #EAEAEA;

}
.login .btn {
    background-color: #008dde;
    width: 300px;
}

/*End Login Form*/


/*Start bootstrap edits */

.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.nav > .li > a,
.navbar-brand{
    padding: 15px 12px;
}

.navbar-brand{
    font-size: 1em;

}

.navbar-nav > li {
    padding-left: 90px;
}








/*End bootstrap edits*/