/*Start Main Rulez*/

body{
    background-color: #f4f4f4;
    font-size: 16px;
}

/*End Main Rulez*/

/*Start Login Form*/

.login{
    margin: 100px auto;
    width: 300px;
}
.login h4{
    color: #888;
}
.login input {
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #EAEAEA;

}
.login .btn {
    background-color: #008dde;
    width: 300px;
}

/*End Login Form*/


/*Start bootstrap edits */

.navbar{
    border-radius: 0;
    margin-bottom: 0;
    background-color: black;
}
.nav > .li > a,
.navbar-brand{
    padding: 15px 12px;
}

.navbar-brand{
    font-size: 1em;

}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;}

.navbar-nav > li {
    padding-left: 90px;
    
}








/*End bootstrap edits*/

/*Start Dashboard Page*/
.home-stats .stat{
    background-color: #EEE;
    border: 1px solid #CCC;
    padding: 20px;
    font-size: 20px;
}
.home-stats .satt a{
    color: #FFF;
}
.home-stats .satt a:hover{
    text-decoration: none;
}
.latest{
    margin-top: 30px;
}
.activate{
    margin-left: 5px;
}
.latest-users{
    margin-bottom: 0;
}
.latest-users li{
    padding: 10px ;
    overflow: hidden;
}
.latest-users  .btn-success{
    padding: 2px 8px;

}



/*End Dashboard Page*/

/*Start Member Page */
.main-table tr:first-child td{ /*you can use thead*/
    background-color: #333;
    color: #FFF;

}
/*End Member Page*/