/*Start Main Rulez*/

body{
    background-color: #f4f4f4;
}

/*End Main Rulez*/

/*Start Login Form*/

.login{
    margin: 100px auto;
    width: 300px;
}
.login h4{
    color: #888;
}
.login input {
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #EAEAEA;

}
.login .btn {
    background-color: #008dde;
    width: 300px;
}

/*End Login Form*/